.container{
  display: flex;
  position: absolute;
}
.hello{
  height: 300px;
  width: 400px;
  background-color: yellow;
  background-image: url(http://www.picgifs.com/graphics/s/snails/graphics-snails-107789.gif);
  background-repeat: repeat;
}

.next{
  height:700px;
  width: 500px;
  background-color: red;
  background-image: url(https://33.media.tumblr.com/e1172867f862a90e0dfe772060c242f7/tumblr_mg09fdFVGr1rmu6i5o1_500.gif);
  background-repeat: repeat;
}

.whoa{
  height: 500px;
  width: 400px;
  background-color: green;
  background-image: url(http://www.animatedimages.org/data/media/269/animated-snail-image-0013.gif);
  background-repeat: repeat;
}
